@inject Biberg.MyPortfolio.Services.Profile.ProfileManager ProfileManager

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@ProfileManager.CurrentUser.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li @(Html.IsMenuActive("/Dashboards") ? "active" : "")">
                <a href="../Dashboards/Dashboard1">
                    <i class="fa fa-dashboard"></i> <span>Dashboards</span>
                </a>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Settings") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Settings</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Settings/Profile") ? "active" : "")"><a href="~/Settings/Profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/Account") ? "active" : "")"><a href="~/Settings/Account"><i class="fa fa-lock"></i> Account</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/Security") ? "active" : "")"><a href="~/Settings/Security"><i class="fa fa-user-secret"></i> Security</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/History") ? "active" : "")"><a href="~/Settings/History"><i class="fa fa-history"></i> History</a></li>
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Mail") ? "active" : "")">
                <a href="~/Mail/Inbox">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">12</small>
                        <small class="label pull-right bg-green">16</small>
                        <small class="label pull-right bg-red">5</small>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Mail/Inbox") ? "active" : "")">
                        <a href="~/Mail/Inbox">
                            Inbox
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">13</span>
                            </span>
                        </a>
                    </li>
                    <li class="@(Html.IsMenuActive("/Mail/Compose") ? "active" : "")"><a href="~/Mail/Compose">Compose</a></li>
                    <li class="@(Html.IsMenuActive("/Mail/Read") ? "active" : "")"><a href="~/Mail/Read">Read</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>