@inject MyPortfolio.Services.Profile.ProfileManager ProfileManager

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li @(Html.IsMenuActive("/Dashboards") ? "active" : "") ">
                <a href="../Dashboards/Dashboard1">
                    <i class="fa fa-dashboard"></i> <span>Dashboards</span>
                </a>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Settings") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Configurações</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Settings/Profile") ? "active" : "")"><a href="~/Settings/Profile"><i class="fa fa-user"></i> Cadastro</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/Account") ? "active" : "")"><a href="~/Settings/Account"><i class="fa fa-lock"></i> Alterar senha</a></li>
                    <li class="@(Html.IsMenuActive("/Settings/History") ? "active" : "")"><a href="~/Settings/History"><i class="fa fa-history"></i> histórico</a></li>
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Skill") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Habilidade</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Skill/Create") ? "active" : "")"><a href="~/Skill/Create"><i class="fa fa-user"></i> Adicionar</a></li>
                    <li class="@(Html.IsMenuActive("/Skill/Index") ? "active" : "")"><a href="~/Skill/Index"><i class="fa fal-lock"></i> Listar</a></li>
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Project") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span>Projeto</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Project/Create") ? "active" : "")"><a href="~/Project/Create"><i class="fa fa-user"></i> Adicionar</a></li>
                    <li class="@(Html.IsMenuActive("/Project/Index") ? "active" : "")"><a href="~/Project/Index"><i class="fa fal-lock"></i> Listar</a></li>
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Mail") ? "active" : "")">
                <a href="~/Mail/Inbox">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">12</small>
                        <small class="label pull-right bg-green">16</small>
                        <small class="label pull-right bg-red">5</small>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Mail/Inbox") ? "active" : "")">
                        <a href="~/Mail/Inbox">
                            Inbox
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">13</span>
                            </span>
                        </a>
                    </li>
                    <li class="@(Html.IsMenuActive("/Mail/Compose") ? "active" : "")"><a href="~/Mail/Compose">Compose</a></li>
                    <li class="@(Html.IsMenuActive("/Mail/Read") ? "active" : "")"><a href="~/Mail/Read">Read</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>