@model MyPortfolio.Models.SiteViewModel.MainSiteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Name| @Model.Role </title>
    <meta name="description" content="marcelo biberg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300">
    <link rel="stylesheet" href="~/css/site.min.css">
    <link href="~/img/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>

    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a href="#intro" class="navbar-brand scrollTo">@Model.Name</a>
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars"></span></button>
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Início</a></li>
                        <li class="nav-item"><a href="#about" class="nav-link link-scroll">Sobre</a></li>
                        <li class="nav-item"><a href="#references" class="nav-link link-scroll">Meus Projetos</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contato</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a asp-page="/Admin/index" title="Para fins didáticos" class="navbar-brand scrollTo">Administrativo <i class="fa fa-mail-forward "></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Intro Image-->
    <section id="intro" style="background: url(@Url.Content("~/img/home.jpg")) center center no-repeat; background-size: cover;" class="intro-section pb-2">
        <div class="container text-center">
            <div data-animate="fadeInDown" class="logo"><img src="~/img/logo-big.png" alt="logo" width="130"></div>
            <h1 data-animate="fadeInDown" class="text-shadow mb-5">@Model.Name</h1>
            <p data-animate="slideInUp" class="h3 text-shadow text-400">@Model.Role</p>

        </div>
    </section>
    <!-- Sobre -->
    <section id="about" class="about-section">
        <div class="container">
            <header class="text-center">
                <h2 data-animate="fadeInDown" class="title">Sobre mim</h2>
            </header>
            <div class="row">
                <div data-animate="fadeInUp" class="col-lg-6" style="max-height:350px;overflow:hidden;">
                    <p style="white-space: pre-wrap;">
                        @Model.AboutDescription
                    </p>
                </div>
                <div data-animate="fadeInUp" class="col-lg-6">
                    <div class="skill-item">
                        @if (Model.Skills != null)
                        {
                            @foreach (var Skill in Model.Skills)
                            {
                                <div class="progress-title">@Skill.Name</div>
                                <div class="progress">
                                    <div role="progressbar" style="width: @Skill.Score%" aria-valuenow="0" aria-valuemin="60" aria-valuemax="100" class="progress-bar progress-bar-skill1"></div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Projetos -->
    <section id="references">
        <div class="container">
            <div class="col-sm-12">

                <div class="mb-5 text-center">
                    <h2 data-animate="fadeInUp" class="title">Meus Projetos</h2>
                    <p data-animate="fadeInUp" class="lead">Trouxe alguns projetos mais recentes para compartilhar!</p>
                </div>

                <!-- Exibe o projeto via JS -->
                <div id="detail">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <span class="close">×</span>
                            <div id="detail-slider" class="owl-carousel owl-theme"></div>
                            <!-- Exibe titulo e subtitulo -->
                            <div class="text-center">
                                <h1 id="detail-title" class="title"></h1>
                            </div>
                            <!-- Exibe descrição e botoes -->
                            <div id="detail-content"></div>
                        </div>
                    </div>
                </div>

                <div id="references-masonry" data-animate="fadeInUp">
                    <div class="row">
                        @if (Model.Projects != null)
                        {
                            @foreach (var item in Model.Projects)
                            {
                                <div class="reference-item col-lg-3 col-md-6">
                                    <div class="reference">
                                        <a href="#">
                                            <img src="~/@item.ImagePath" id="scrollView" alt="img-responsive" class="img img-thumbnail">
                                            <div class="overlay">
                                                <div class="inner">
                                                    <h3 class="h4 reference-title">@item.Title</h3>
                                                    <p>@item.ShortDescription</p>
                                                </div>
                                            </div>
                                        </a>
                                        <div data-images="@item.ImagePath" class="sr-only reference-description">
                                            <p>@item.Description</p>
                                            <p class="buttons text-center">
                                                <a href="@item.UrlProject" target="_blank" class="btn btn-outline-primary"><i class="fa fa-globe"></i> Projeto Preview</a>
                                                <a href="@item.UrlGithub" target="_blank" class="btn btn-outline-primary"><i class="fa fa-github"></i> Github</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-md-10 text-center offset-1">
                                <p class="btn btn-warning">Calmaaaa, estou trabalhando nisso! =)</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section id="contact" data-animate="bounceIn" class="contact-section contact">
        <div class="container">
            <header class="text-center">
                <h2 class="title" id="contato">Contato</h2>
            </header>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form asp-action="SendMail" asp-controller="Site" id="contact-form" method="post">
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="@Model.Contacts.Name" class="form-control" id="name" data-inputmask-regex="[A-Za-z]{2}-[\w]{2}-\d{2}" placeholder="Nome" />
                                    <span asp-validation-for="@Model.Contacts.Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="@Model.Contacts.Email" class="form-control" id="mail" placeholder="seuemail@seudominio.com" />
                                    <span asp-validation-for=" @Model.Contacts.Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <input asp-for="@Model.Contacts.Phone" class="form-control" id="phone" placeholder="(51) 99999-9999" />
                                    <span asp-validation-for="@Model.Contacts.Phone" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <textarea asp-for="@Model.Contacts.Feedback" class="form-control" placeholder="Escreva-me um comentário, seu feedback será bem vindo :)" rows="4"></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left">
                    <p class="social">
                        <a href="https://www.facebook.com/marcelo.biberg" target="_blank" title="Facebook" class="external facebook wow fadeInUp">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/marcelo-biberg-a8368b104/" data-wow-delay="0.6s" target="_blank" title="Linkedin" class="linkedin wow fadeInUp">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/marcelobiberg" data-wow-delay="0.4s" target="_blank" title="Github" class="external github wow fadeInUp">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>
                </div>

                <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
                    <p>@DateTime.Now.Year - Developer By <b>Marcelo Biberg.</b></p>
                </div>
                <div class="col-md-2 text-center ml-4 mt-2">
                    <a href="https://bootstrapious.com/p/it-worker-portfolio-theme" target="_blank"><p>Template By <b><br />IT Worker.</b></p></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript files-->
    <script src="~/plugins/jquery/dist/jquery.js"></script>
    <script src="~/js/site.min.js"></script>

    <script type="text/javascript">
        //Ajax para enviar e-mail de contatos
        $(function () {
            $(document).ready(function () {
                //Masks
                $("#phone").inputmask({ mask: "(99)99999-9999" });
            });

            //AJAX Request from "contact-form"
            $("#contact-form").submit(function (e) {
                e.preventDefault();

                console.log('Doing ajax submit');

                //Retorna action and controller do form
                var formAction = $(this).attr("action");
                var form = $("#contact-form");
                var newUrl = "@Url.Action("Index","Site")";

                $.ajax({
                    type: "POST",
                    url: formAction,
                    data: form.serialize(),
                    processData: false,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
                }).done(function (result) {
                    // do something with the result now
                    console.log(result);
                    if (result) {
                        //Limpa form
                        $("#contact-form").closest('form').find("input[type=text], textarea").val("");

                        //valida
                        var element = document.getElementById("contato");
                        element.scrollIntoView({ block: "center", behavior: "smooth" });
                        $.notify(
                            "Feedback enviado com sucesso!",
                            "success",
                            { position: "right", timer: 500000}
                        );
                    } else {
                        var element = document.getElementById("contato");
                        element.scrollIntoView({ block: "nearest", behavior: "smooth" });
                        $.notify(
                            "Dados incorretos",
                            { position: "top center" }
                        );
                    }
                });
            });
        })
    </script>
</body>
</html>